*{
  padding:0;
  margin:0;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap : 1rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}