@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');


.empty-course-container {
  text-align: center;
  font-family: "Croissant One", serif;
  font-weight: 400;
  font-style: normal;
}

.empty-course-container * {
  font-family: "Croissant One", serif;
}

#add {
  margin-bottom: 11px;
  width: 45%;
  background-color: #FE4F30;
  padding: 14px;
  text-align: center;
  color: white;
  display: block;
  margin: auto;
  margin-top: 20px;

  border-radius: 8px;

  font-size: 14px;
  font-weight: 400;

}

h3 {
  margin-bottom: 10px;
}

p3 {
  color: #C0C0C0;
}