      
.filter{

    background : rgba(0,0,0,0.5);
    position : fixed;
    top:0;
    left:0;
    z-index : 99;
    width : 100vw;
    min-height: 100vh;
    padding:0.5em;
    display:flex;
    justify-content: center;
align-items:center;


    }
 form{
   background: white;
border-radius:6px;
padding:0.5em;
 min-width: 80vw;
  line-height: 2em;
  color:black ;/*#283038;*/
}

form h3{
  margin-bottom:0.8em;
  font-weight: 400;
}

      form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }



#continue{
  width:100%; 
  margin-top:1.4em; 
  padding:10px;
  background-color: #FE4F30; 
  border-radius:5px; 
  color:white;
}

#radioFlex{
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-direction:row;
  padding:0;
}
      .radio-buttons {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }

      .custom-radio input {
        display: none;
      }

      .radio-btn {
        margin: 10px;
        width:100px;
        height: 100px;
        border: 3px solid transparent;
        display: inline-block;
        border-radius: 10px;
        position: relative;
        text-align: center;
        box-shadow: 0 0 20px #c3c3c367;
        cursor: pointer;
      }

      .radio-btn > i {
        color: #ffffff;
        background-color: #8373e6;
        font-size: 20px;
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%) scale(4);
        border-radius: 50px;
        padding: 3px;
        transition: 0.2s;
        pointer-events: none;
        opacity: 0;
      }

      .radio-btn .hobbies-icon {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .radio-btn .hobbies-icon i {
        color: #8373e6;
        line-height: 80px;
        font-size: 60px;
      }

      .radio-btn .hobbies-icon h3 {
        color: #8373e6;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top:-1em;
      }

      .custom-radio input:checked + .radio-btn {
        border: 3px solid #8373e6;
      }

      .custom-radio input:checked + .radio-btn > i {
        opacity: 1;
        transform: translateX(-50%) scale(1);
      }