      footer {
        background-color: #F6F6F6;
        /*#283038*/
        -webkit-box-shadow: 0 20px 25px rgba(60, 60, 100, 0.15);
        box-shadow: 0 20px 25px rgba(60, 60, 100, 0.15);

        display: flex;
        border: 1px solid rgba(5, 5, 5, .15);
        justify-content: space-around;
        text-align: center;
        padding: 5px;
        border-radius: 13px;
        position: fixed;
        bottom: -18px;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 50%;
        width: 95vmin;
        color: #D0D0D8;
        text-decoration: none;
        font-weight: bold;
        font-family: "Croissant One", serif;
      }

      footer button {
        background-color: inherit;
        padding: 5px 2px;
        color: #282830;
        /*#D6B9FC*/
        border-radius: 8px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        flex: 1;
        /* Distribute space evenly */
        min-width: 0;
        /* for flex shrinking */
      }

      footer button a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: inherit;
        gap: 2px;
      }

      footer button img {
        width: 24px;
        height: 24px;
      }

      footer button span {
        font-size: 12px;
        white-space: nowrap;
        /* Prevent wrapping of the text itself */
      }

      footer button:not(:first-child) {
        background: inherit;
        color: #888888;
      }