
* {
        padding: 0;
        margin: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: none;
        outline: none;
      /*  font-family: "Croissant One", sans-serif;*/
      }

body,HTML,*{
/*disable copy and paste*/
-webkit-user-select: none;
 -webkit-touch-callout: none;
 -moz-user-select: none;
 -ms-user-select: none; 
user-select: none;
text-decoration:none;

}

a{
color: inherit;
outline:none;
text-decoration:none;
}